<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
            <a nome = "menu-home" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a nome = "menu-solicitacao" routerLink="/solicitacao" routerLinkActive="active">Nova Solicitação</a>
            <a nome = "menu-acompanhamento" routerLink="/acompanhamento" routerLinkActive="active">Propostas em aberto</a>
            <a nome = "menu-sair" routerLink="/login" routerLinkActive="active">Sair</a>
        </div>
</nav>

